# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/WinAPI_chapter_1/WinAPI_chapter_1/Debug/WinAPI_chapter_1.tlog
/WinAPI_chapter_1/WinAPI_chapter_1/Debug
/WinAPI_chapter_1/Debug
/WinAPI_chapter_1/.vs/WinAPI_chapter_1/v15
/WinAPI_chapter_1/WinAPI_chapter_1.VC.VC.opendb
/WinAPI_chapter_1/WinAPI_chapter_1/timer_circle.png
/WinAPI_chapter_1/WinAPI_chapter_1/timer_circle - копия.png
/WinAPI_chapter_1/WinAPI_chapter_1/timer.jpg
/WinAPI_chapter_1/timer.png
/WinAPI_chapter_1/Timer-1160x1160.png
/WinAPI_chapter_1/WinAPI_chapter_1/Release
